<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.dao.CustomerMapper">
   <select id="findAll"  resultType="com.site.dto.Customer">
	    select * from (
		select row_number() over(order by bgroup desc,bstep asc) rnum, a.* 
		from board a )
		where rnum between #{startrow} and #{endrow}
   </select>
   <select id="findByCount"  resultType="int">
		select count(*) from board
   </select>
</mapper>