<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.dao.MemberMapper">
  <select id="findByIdAndPw" resultType="com.site.dto.Member">
    select * from member where id=#{id} and pw = #{pw}
  </select>
  <select id="findAll" resultType="com.site.dto.Member">
    select * from member
  </select>
  <select id="findAndId" resultType="com.site.dto.Member">
    select * from member where id = #{id}
  </select>
</mapper>